<ng-container *ngIf="user$ | async as user">
    <div class="user-image-container">
        <div class="user-image-title mat-headline" [class.user-image-title_visible]="imageHovered">{{user.name}}, {{user.age}}</div>
        <div (mouseenter)="imageHovered = true" (mouseleave)="imageHovered = false" class="user-image-front">
            <button
                class="reaction-button"
                [class.reaction-button_visible]="imageHovered"
                mat-fab
                color="primary"
                aria-label="like"
                (click)="like(user)"
            >
                <mat-icon>thumb_up</mat-icon>
            </button>
            <button
                class="reaction-button"
                [class.reaction-button_visible]="imageHovered"
                mat-fab
                aria-label="dislike"
                (click)="dislike(user)"
            >
                <mat-icon>thumb_down</mat-icon>
            </button>
        </div>
        <img class="user-image" [src]="user.image">
    </div>
    <img class="user-image-back" [class.user-image-back_visible]="!imageHovered" [src]="user.image">
</ng-container>


