$animation-time: 0.3s;

:host {
    width: 600px;
    height: calc(100vh - 64px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

@mixin animate-visibility {
    opacity: 0;
    transition: opacity $animation-time ease-out;
    &_visible {
        opacity: 1;
    }
}

.user-image-container {
    position: absolute;
    z-index: 2;
    height: 100%;
}

.user-image {
    height: 100%;
}

.user-image-front {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: linear-gradient(transparent, #000);
    z-index: 3;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: background $animation-time ease-out;
    background-size: 1px 36000px;

    &:hover {
        background-position: 100px;
    }
}

.user-image-back {
    height: 100%;
    filter: blur(20px);
    width: 600px;
    @include animate-visibility;
}

.user-image-title {
    margin: 32px;
    position: absolute;
    z-index: 4;
    color: white;
    @include animate-visibility;
}

.reaction-button {
    margin: 32px;
    @include animate-visibility;
}
