<div class="app-container mat-app-background">
    <mat-toolbar>
        <span>tinder Like</span><img class="app-logo" src="./assets/tinder-logo.svg">
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
